* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border-radius: 0;
}

body {
  font-size: 24px;
}

*:focus {
  outline: none;
}

b,
strong,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
